
.innerBody{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Button {
  display: flex;
  padding: 0.5rem 2rem;
  border-radius:  0px 25px 0px 0px;
  border: 1px solid var(--the-red);
  background: var(--the-red);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;

  color: var(--the-white);
  text-decoration: none;
  transition: all 200ms, color 200ms;
  &:hover {
    background: transparent;
    color: var(--the-red);
  }
}
.ButtonS {
  display: flex;
  padding: 0.5rem 2rem;
  border-radius:  0px 25px 0px 0px;
  border: 1px solid var(--the-red);
  background: var(--the-white);

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;

  color: var(--the-red);
  text-decoration: none;
  transition: all 200ms, color 200ms;
  &:hover {
    background: transparent;
    background: var(--the-red);
    color: var(--the-white);

  }
}


.Button2 {
  display: flex;
  align-items: center;
  color: #000;
  padding: 0.5rem 2rem;
  border-radius:  0px 0px 0px 0px;
  

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;

  text-decoration: none;
  transition: all 200ms, color 200ms;
  &:hover, &:focus, &:active {
    color: var(--the-white);
    background: var(--the-red);
  //   text-decoration: underline;
  //  text-underline-offset: 2px;
  //  text-decoration-thickness: 2px;
  }
}

.Search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: var(--the-border);
  border: 1px solid var(--gray);
  padding: 0.5rem 1rem;
  i {
    font-size: small;
    color: var(--gray);
  }
  input {
    all: unset;
    width: 100%;
    text-align: start;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray);
    background-color: transparent;
    &::placeholder {
      color: var(--gray);
    }
  }

  div:has( > ul){
    padding: 0!important;
    margin: 0!important;
    background: none!important;
    border: solid var(--gray-light) 1px!important;
    box-shadow: none!important;
    ul {
      padding: 0!important;
      background-color: none!important;
      
    }
    button {
      background-color: var(--the-white);
      color: #000;
      transition: all 0.2s ease 0s;
      &:hover {
        background-color: var(--the-red)!important;
        color: var(--the-white)!important;
      }

    }
  }

}

.careerShowcase {
  background: var(--the-red);
  background-image: linear-gradient(0deg, rgba(243, 81, 89, 0.84), rgba(243, 81, 89, 0.84)),url("/groupOfDoctors.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--the-white);
}


.careers {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  image {
    width: 100%;
    height: auto;
  }
}

.numberTrack {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  list-style: none;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-65%, 10%);
    width: 40px;
    height: 30px;
    background: var(--the-red);
    border-radius:  0px 20px 0px 0px;
  
    z-index: -1;

  }
}

.Services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem 2rem;
  max-width: 350px;
  // height: 175px;
  border-radius:  0px 34px 0px 0px;
  border: var(--gray) 1px solid;
}

.swiper {
  max-width: 100%;
  // background-color: var(--the-red);

  div:has(span){
    text-align: start;
    padding-left: var(--swiper-space);
    max-width: 200px;
  }
  
  span {
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 20px;
    opacity: .5;
    background: var(--the-white)!important;
    transition: all 0.2s ease 0s;
    border-radius: 50%;

    &[aria-current="true"] {
      opacity: 1;
      border-radius: var(--the-border);
      width: 20px;
      background-color: var(--the-white)!important;
    }
  }
  
  
}

.slides{
  margin-top: 10rem;
  background-color: var(--the-red);
  color: var(--the-white);
  width: 100%;
  padding: var(--swiper-space);
  border-radius:  0px 100px 0px 0px;
  border: var(--gray) 1px solid;
  position: relative;
  overflow:visible;

  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    width: 50%;
  }
  img {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: auto;
    height: 450px;
  }

}

@media (max-width: 768px) {
  .slides {
    margin-top: 4rem;
    div {
      width: 100%;
    }
    img {
      display: none;
    }
  }
  
}

.center {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  min-height: 400px;
}

.squarebox {
  display: none;
  justify-content: center;
  align-items: flex-end;
  max-width: 100px;
  min-height: 80px;
  background-color: var(--the-white);
  border-radius: 0px 30px 0px 0px;
  margin-bottom: 1rem;

}

@media (max-width: 768px) {
  .squarebox {
    display: flex;
  }
  
}


.Introimg {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // width: 100px;
  // height: 100px;

  img {
    max-width: 100%;
    height: auto;
    // display:none;
  }

  
}

.Introimg::after {
  z-index: -1;
  min-width: 1000px;
  min-height: 1000px;
  background-color: var(--the-red);
}

.community {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  // width: 100px;
  // height: 100px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 0px 80px 0px 0px;
    // display:none;
  }
}

.community::before {
  z-index: -1;
  width: 100px;
  height: 100px;
  background-color: var(--the-red);
  top: -50px;
  left: 0;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: var(--the-white);
  box-shadow: 0px 15px 25px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 60px 0px 0px;
  padding: 1rem;
  margin-bottom: 1rem;
  img {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    border-radius: 0px 60px 0px 0px;
  }
}

.Clients {
  background-color: var(--the-white);
  border: 1px solid var(--gray);
  border-radius: 0 100px 0 0;
  // width: 700px!important;
  display: flex!important;
  flex-direction: row!important;
  overflow: hidden;

  img {
    width: auto;
    height: 300px;
    object-fit: cover;
  }
}

.swiper:has(.Clients){
  span {
    display: none;
  }
}

@media (max-width: 768px ) {

  .Clients {
    flex-direction: column!important;
  }
  
}

.contact {
  background-color: var(--the-red);
  width: 75%;
  color: var(--the-white);
}

.Contactus{
  background-color: var(--the-white);
  display: flex;
  flex-direction: row;
  box-shadow: 0px 15px 25px 2px rgba(0, 0, 0, 0.12);
   div {
    overflow: hidden;
   }
  label {
    font-weight:600;
    font-size: small;
  }
  input {
    all: unset;
    border: 1px solid var(--gray);
    min-height: 32px;
    border-radius: 0 17px 0 0;
    font-size: smaller;
    padding: 5px;
    padding-left: 10px;
  }

  textarea {
    all: unset;
    border: 1px solid var(--gray);
    min-height: 100px;
    border-radius: 0 17px 0 0;
    padding: 5px;
    font-size: smaller;
    padding-left: 10px;
  }
}

@media (max-width: 768px ) {
  .Contactus {
    flex-direction: column;
  }
  .contact {
    width: 100%;
  }
  
}

.whychooseimg {
    height: 600px;
    width: 100%;
    // object-fit: cover;
    overflow: hidden;
    img {
      border-radius: 0 64px 0 0;
    }
  }